<!doctype html>
<html>

<head>
  <title>Rock - Paper - Scissors</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <section id="section1" class="game padding-bottom-0">
    <div class="container">
      <h1 class="text-center v-center">ROCK PAPER SCISSOR GAME</h1>
        <div class="overlay" id="start-screen">
          <div class="row">
            <div class="col-lg-12" >
                <div class="row">
                  <div class="col-lg-12 col-sm-offset-2 text-center"><h2>Welcome</h2><p>Press  <a id='start'>Click to Start</a> to begin the game</p><i class="fa fa-cog fa-5x"></i></div>
                </div>
              </div>
          </div>
        </div>

        <div id="gameview"></div>

        <footer class="restart hidden" id="restart-screen">
          <a id='restart'>Click to Restart</a>
        </footer>
    </div><!--/container-->
  </section>
</body>
</html>